<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="structure md">
      <h1>Design system structure</h1>
      <p>Our design system is broken down into the following sections:</p>
      <h2>Styles</h2>
      <p>Styles represent perceptual patterns. These are less tangible aspects of the design system. Together they create a certain aesthetic for the product. Examples include colors, typography, and icons.</p>
      <h2>Components</h2>
      <p>Components are the reusable building blocks of the interface. Examples include buttons, tabs, and input fields.</p>
      <h2>Regions</h2>
      <p>Regions are areas of the application that are formed by combining multiple components. Examples of this include the global header and contextual sidebar.</p>
      <h2>Content</h2>
      <p>Content includes documentation relating to our writing style. This includes the tone and voice of the brand, as well as common grammar guidelines.</p>
      <h2>Usability</h2>
      <p>Usability guidelines include documentation that affects the ease-of-use for different types of users. This includes accessibility and internationalization.</p>
      <h2>Resources</h2>
      <p>Our resources section contains relevant and useful links that aide in the creation of our design system, as well as GitLab design as a whole.</p>
    </div>
  </div>
</template>
