<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="component md">
      <h1>Date picker</h1>
      <p>Date picker allows users to choose and input a date through by manually typing the date into the input field or by using a calendar-like dropdown.</p>
      <h2>Usage</h2>
      <p>The date picker comes in two parts: the input field and the date picker dropdown. The input field must use a placeholder text to indicate the expected format of time to be entered (e.g. "YYYY-MM-DD") and a calendar icon on the right edge to indicate that clicking on it will open a datepicker dropdown.</p>
      <p>The user should be able to input the date by either typing it in or choosing a day from the datepicker dropdown. The user must never be forced to use only one of the two input methods.</p>
      <p class="todo">Todo: Add live component block with code example (datepicker: input field + dropdown)</p>
      <h2>Design specification</h2>
      <p>Color, spacing, dimension, and layout specific information pertaining to this component can be viewed using the following link:</p>
      <a href="https://gitlab-org.gitlab.io/gitlab-design/hosted/design-gitlab-specs/datepicker-spec-previews/">Sketch Measure Preview for the Date picker</a>
      <h2>Related patterns</h2>
      <ul>
        <li><a href="/components/forms">Forms</a></li>
        <li><a href="/components/dropdowns">Dropdowns</a></li>
      </ul>
    </div>
  </div>
</template>
